<MudMenu @ref="_contextMenu" Class="@($"mb-2 file-explorer-icon-highlited")">
  <MudToolBar Dense="true" Class="@($"px-0 align-self-start { (_themePreference.IsDarkMode ? "dark-mode" : "") }")">
    <MudIconButton Class="file-explorer-icon-highlited" Icon="@FileExplorerIcons.Copy"  Style="padding:6px;" />
    <MudIconButton Class="file-explorer-icon-highlited" Icon="@FileExplorerIcons.Past" Style="padding:6px;" />
    <MudIconButton Class="file-explorer-icon-highlited" Icon="@FileExplorerIcons.Cut" Style="padding:6px; color: var(--file-explorer-Icon-text-color);" />
    <MudIconButton Class="file-explorer-icon-highlited" Icon="@FileExplorerIcons.Star" Style="padding:6px; color: var(--file-explorer-Icon-text-color);" />
    <MudIconButton Class="file-explorer-icon-highlited" Icon="@FileExplorerIcons.EllipsePinc" Style="padding:6px;" />
    <MudIconButton Class="file-explorer-icon-highlited" Icon="@FileExplorerIcons.EllipseGreen" Style="padding:6px;" />
    <MudIconButton Class="file-explorer-icon-highlited" Icon="@FileExplorerIcons.EllipseYellow" Style="padding:6px;" />
    <MudIconButton Class="file-explorer-icon-highlited" Icon="@FileExplorerIcons.EllipseBlue" Style="padding:6px;" />
  </MudToolBar>
  <MudDivider />
  @* <MudField Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Money"> *@
    <MudTextField @bind-Value="Search" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Secondary" />
  @* </MudField> *@

  <MudButton FullWidth StartIcon="@Icons.Material.Filled.ManageAccounts" IconColor="Color.Success" EndIcon="@Icons.Material.Filled.ArrowForwardIos"><span style="width:calc(100% - 3rem)">Users</span></MudButton>
  <MudDivider />
  <MudButton FullWidth StartIcon="@Icons.Material.Filled.Security" IconColor="Color.Info" EndIcon="@Icons.Material.Filled.ArrowForwardIos"><span style="width:calc(100% - 3rem)">Security</span></MudButton>
  <MudDivider />
  <MudButton FullWidth Disabled StartIcon="@Icons.Material.Filled.ContentCut" EndIcon="@Icons.Material.Filled.ArrowForwardIos"><span style="width:calc(100% - 3rem)">Redo</span></MudButton>
  <MudDivider />
  <MudButton FullWidth StartIcon="@Icons.Material.Filled.ContentCut" EndIcon="@Icons.Material.Filled.ArrowForwardIos"><span style="width:calc(100% - 3rem)">Cut</span></MudButton>
  <MudDivider />
  <MudButton FullWidth StartIcon="@Icons.Material.Filled.FileCopy" EndIcon="@Icons.Material.Filled.ArrowForwardIos"><span style="width:calc(100% - 3rem)">Copy</span></MudButton>
  <MudDivider />
  <MudButton FullWidth StartIcon="@Icons.Material.Filled.ContentPaste" EndIcon="@Icons.Material.Filled.ArrowForwardIos"><span style="width:calc(100% - 3rem)">Paste</span></MudButton>
  <MudDivider />
</MudMenu>

@code {
  #nullable enable
  private MudMenu _contextMenu = null;
  private string Search = string.Empty;
  private ClientPreference? _themePreference;
  private Palette currentPalete;

  protected override async Task OnParametersSetAsync()
  {
    _themePreference = await ClientPreferences.GetPreference() as ClientPreference;
    if (_themePreference == null) _themePreference = new ClientPreference();

    var theme = await ClientPreferences.GetCurrentThemeAsync();
    currentPalete = _themePreference.IsDarkMode ? theme.PaletteDark : theme.PaletteLight;
  }

  protected override async Task OnInitializedAsync()
  {
   
  }

  public async Task OpenContextMenuAsync(MouseEventArgs args)
  {
    await _contextMenu.OpenMenuAsync(args);
  }

  public async Task CloseContextMenuAsync()
  {
    await _contextMenu.CloseMenuAsync();
  }
}

  <style>
  :root {
    --file-explorer-Icon-text-color: rgb(0, 0, 0);
  }

  .dark-mode {
    --file-explorer-Icon-text-color: rgb(255, 255, 255);
  }

  .file-explorer-icon-highlited  svg {
    color: rgb(37.64706%, 80.392158%, 100%);
  }
  </style>