@using System.Reflection
@using FSH.Starter.BlazorShared.Services.Interfaces
@using MudBlazor;

@inject ILayoutService LayoutSrv ;
<CascadingAuthenticationState>
  @* <MudList T="string">
    @foreach (var item in additionalAssemblies.Select(a => a.FullName).ToList())
    {
      <MudListItem>
        <MudText Typo="Typo.h6" Class="pa-4" Text="">@item</MudText>
      </MudListItem>
    }
  </MudList> *@

  <Router AppAssembly="@typeof(Program).Assembly" 
          AdditionalAssemblies="@additionalAssemblies">
          @* OnNavigateAsync="OnNavigateAsync"  *@

    <Found Context="routeData">
      <CascadingValue Value="@routeData" Name="AppRouteData">
      <AuthorizeRouteView RouteData="@routeData"
                          DefaultLayout="@LayoutSrv.CurrentLayout.GetType()">
        <NotAuthorized>
          @if (@context.User.Identity?.IsAuthenticated is true)
          {
            <p>You are not authorized to be here.</p>
          }
          else
          {
            <Login />
          }
        </NotAuthorized>
      </AuthorizeRouteView>
      </CascadingValue>
    </Found>
    <NotFound>
      <LayoutView Layout="@typeof(NotFound)">
        <NotFound />
      </LayoutView>
    </NotFound>
  </Router>
</CascadingAuthenticationState>

