@using FSH.Starter.Blazor.Modules.Document.Blazor.Components.FileExplorer.Models
<h3>TrashCard</h3>

@if (!CurrentFolder.Files.Any())
{
  <MudText Typo="Typo.body2">No files in this folder.</MudText>
}
else
{
  <MudGrid Spacing="1">
    @* @foreach (FileModel file in CurrentFolder.Files)
    {
      <MudItem xs="12" sm="6" md="4" lg="3">
        <MudCard Class="ma-1">
          <MudCardContent>
            <div class="d-flex align-center">
              <MudAvatar Size="Size.Large" Icon="@GetFileIcon(file.Name)" Class="me-3" Color="Color.Primary" />
              <div>
                <MudText Typo="Typo.subtitle2" Class="truncate">@file.Name</MudText>
                <MudText Typo="Typo.caption">@FormatSize(file.Size) • @file.Modified.ToString("g")</MudText>
              </div>
            </div>
          </MudCardContent>
          <MudCardActions>
            <MudIconButton Icon="@Icons.Material.Filled.Download" OnClick="() => DownloadFile(file)"
                           Title="Download" />
            <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="() => RenameFilePrompt(file)"
                           Title="Rename" />
            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="() => DeleteFile(file)"
                           Title="Delete" />
          </MudCardActions>
        </MudCard>
      </MudItem>
    } *@
  </MudGrid>
}


@code {
  private FolderModel CurrentFolder { get; set; }
}
